@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    
    :root {
        --color-text-main: rgb(249 250 251); 
        --color-bg-main: rgb(3 7 18); 
        --color-bg-muted: rgb(17 24 39); 
        --color-border-main: rgb(249 250 251); 
    }
    html.dark {
        --color-text-main: 242 241 236; 
        --color-bg-main: 23 23 23; 
        --color-bg-muted: 36 36 36; 
        --color-border-main: 242 241 236;
    }
   
}
